# googletrans==4.0.0-rc1
BeautifulSoup4
lxml
tqdm
languagecodes
langdetect
# argostranslate
fasttext-langdetect
python-dotenv
pyalex
keybert[flair]
keyphrase-vectorizers
langchain
promptlayer
httpcore==0.15.0
httpx==0.23.0