# googletrans==4.0.0-rc1
BeautifulSoup4
lxml
tqdm
# languagecodes
# argostranslate
# fasttext-langdetect
python-dotenv
pyalex
keybert[flair]
keyphrase-vectorizers
langchain
openai
inflect<7
scikit-learn
scipy
pandas
wordcloud
matplotlib
numpy
rdflib
